h1 {
    color: #2A2B2E;
    font-family: 'Roboto Slab', 'serif';
    font-size: 56px;
    margin: 0;
    font-weight: normal;
    text-align: center;
}

h2 {
    color: #2A2B2E;
    font-family: 'Roboto Slab', 'serif';
    font-weight: normal;
    text-align: center;
    padding-top: 50px;
}

h3 {
    text-align: center;
}
